@import url(./__cell/_theme/table__cell_theme_dark.css);
@import url(./__heading/table-heading.css);
@import url(./__text/table__text.css);

.table {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
