@import url(./__author/footer__author.css);
@import url(./__column-heading/footer__column-heading.css);
@import url(./__column-link/footer__column-link.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__column/footer__column.css);
@import url(./__columns/footer__columns.css);


.footer {
  display: flex;
  background-color: #1f1f1f;
  color: #ffffff;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: center;
  box-sizing: border-box;
}
