.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.header__title {
  margin: 0;
  padding: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-weight: bold;
  font-size: 102px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  gap: 30px;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 30px 0;
}

.two-columns__paragraph:first-child {
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  width: 100%;
  padding-top: 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-title_theme_dark {
  color: #ffffff;
  z-index: 1;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle_theme_dark {
  color: #ffffff;
  z-index: 1;
}

.table {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  display: flex;
  flex-direction: column;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-top: 100px;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  color: #ffffff;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
  list-style: none;
  padding: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
